// compress: true;

@import "vars";

html{
    font-size: 20px;

    @media @mobile-m {
        font-size: 14px;
        overflow-x: hidden;
    }
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;     
    color: @navy_blue;
    

    &.no-scroll{
        overflow: hidden;
    }

    @media @mobile-sm {        
        overflow-x: hidden;
    }
}

a{
    text-decoration: none;
    color: @navy_blue; 
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h1{
    font-size: 48px;

    @media @mobile-sm {
        font-size: 20px;
    }
}

p{
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "blocks/header";
@import "blocks/best_video";
@import "blocks/reviews_dowloads";
@import "blocks/container";
@import "blocks/partners";
@import "blocks/special_features";