// main: ../style.less

.best_video__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: relative;

    @media @mobile-m {
        display: inline;
    }
}

.best_video__text{

    margin-left: 117px;
    width: 510px;

    @media @mobile {   
        text-align: center;     
        margin-left: 10px;
        width: 400px;
    }

    @media @mobile-m {
        margin-left: 10px;
        width: 300px;
    }

    h1{
        width: 510px;
        padding-top: 95px;

        @media @mobile {   
            text-align: center;
            width: 400px;
        }
        
        @media @mobile-m {
            text-align: center;
            font-size: 2rem;
            line-height: 27px;
            font-weight: 600px;
            width: 310px;
            padding-top: 26px;
            padding-left: 15px;
        }
    }

    p{
        font-size: 17px;
        padding-top: 18px;
        line-height: 28px;

        

        @media @mobile-m {
            text-align: center;
            font-size:1rem;
            line-height: 20px;
            font-weight: 400px;
            width: 300px;
            padding-top: 19px;
            padding-left: 25px;

            br {
                display: none;
              }
        }
    }

    button{
        width: 180px;
        height: 66px;
        background-color: #00ECD0;
        border: none;
        color: #18216D;
        font-weight: 500;
        margin-top: 15px; 

        @media @mobile-m{            
            width: 120px;
            height: 40px;
            font-weight: 400;
            font-size: 1rem;
            line-height: 16.94px;
            margin-top: 16px; 
            margin-left: 25px;
        }
    }

}

.best_video__img{
    position: absolute;
    top: 0;
    left: 517px;

    @media @mobile {
        
        img{
            display: none;
        }
        
        
        left: 40px;
        top: 500px;
        background-image: url(../../img/mobile/best_video_m.png);
        width: 350px;
        height: 300px;
    }

    @media @mobile-m {
        left: -4px;
        top: 283px;
        padding-top: 50px;
    }
}
