// main: ../style.less

.best_video__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.best_video__text{

    margin-left: 117px;
    width: 510px;

    h1{
        width: 510px;
        padding-top: 95px;     
    }

    p{
        font-size: 17px;
        padding-top: 18px;
        line-height: 28px;
    }

    button{
        width: 180px;
        height: 66px;
        background-color: #00ECD0;
        border: none;
        color: #18216D;
        font-weight: 500;
        margin-top: 15px; 
    }

}

.best_video__img{
    position: absolute;
    top: 0;
    left: 517px;
}
