// main: ../style.less

.partners{
    margin: 0 auto;
    width: 1100px;
    margin-top: 50px;

    @media @mobile-sm {
        margin-top: 7px;
        margin-left: 8px;
    }
}

.partners_items_big {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    
}

.partners_items_big img{
    @media @mobile-sm {
        display: none;
        margin-left: 15px;
    }
}

.partners_items_small{
    display: none;
    width: 327px;

    @media @mobile-sm {
        display: flex;
        justify-content: space-between;
    }
}