// main: ../style.less

.partners{
    margin: 0 auto;
    width: 1100px;
    margin-top: 50px;

    @media @notebook {
        max-width:950px;
    }

    @media @tablet {        
        max-width: 600px;
    }

    @media @mobile {        
        max-width: 500px;
    }

    @media @mobile-m {
        max-width: 350px;
    }

    @media @mobile-sm {
        max-width: 310px;
    }
}

.partners.container {
    @media @mobile {
        margin: 10px;
    }
}

.partners_items_big {
    display: flex;
    justify-content: space-between;
    width: 1110px;

    @media @notebook {
        max-width: 900px;
    }

    @media @tablet {
        flex-wrap: wrap;
        max-width: 550px;
    }
    
    @media @mobile {
        max-width: 410px;
    }
}

.partners_items_big img{

    @media @tablet {
        padding: 15px;
    }


    @media @mobile {
        padding: 15px;
    }

    @media @mobile-m {
        display: none;
        margin: 15px;
    }
}

.partners_items_small{
    display: none;


    @media @mobile-m {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }
}