// main: ../style.less


.reviews_dowloads__items{
    display: flex;
    justify-content: space-between;
    margin-top: 252px;
    
    h1{
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        padding-left: 3px;
    }

    p{
        font-size: 0.8rem;
    }
    
}


.collaborate{
    max-width: 600px;

    h2{
        font-size: 36px;
        line-height: 50px;
        font-weight: 600;
        padding-left: 116px;
        width: 610px;
    }
}

.downloads{
    padding-left: 195px;

    img {
        padding-top: 10px;
    }

    p{
        padding-left: 3px;
        padding-top: 10px;
    }
}

.rating{
    margin-right: 138px;

    h1{
        padding-right: 5px;
    }

    .stars {
        padding-top: 5px;
        
    }

    p{
        padding-left: 3px;
        padding-top: 10px;
    }
}

