// main: ../style.less

.special_features{
    margin-top: 130px;
}

.features{
    text-align: center;
    padding-left: 43px;

    h1{
        padding-left: 25px;
        font-weight: 600px;    
        line-height: 64px;
        font-size: 48px;
        font-stretch: ultra-condensed;
    }

    p{
        font-size: 0.8rem;
        font-weight: 400px;
        line-height: 30px;
        padding-top: 12px;
    }
}

.features_items{
    display: flex;
    justify-content: space-between;
    width: 1126px;
    margin: 0 auto;
    margin-top: 48px;

}

.features_item{
    width: 320px;
    height: 275px;

    h3{
        font-size: 1.2rem;
        padding-top: 21px;
    }

    p{
        font-size: 0.8rem;
        line-height: 26px;
        padding-top: 16px;
        padding-bottom: 5px;
    }

    a{
        padding-top: 10px
    }
}